/* @import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:wght@400;500;800&family=Nanum+Pen+Script&display=swap"); */

.molle {
  font-family: "Molle", cursive;
}
.bad-script {
  font-family: "Bad Script", cursive;
}

.nanum-pen-script {
  font-family: "Nanum Pen Script", cursive;
}

:root {
  /* --primary: rgb(214, 3, 0); */
  --primary: rgb(0, 0, 0);
  --secondary: rgb(253, 255, 139);
}

html {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  /* min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto; */
}

header {
  color: var(--secondary);
  text-shadow: 5px 5px 5px rgb(0 0 0);
}

.page__title {
  color: orange;
}
/* NAVIGATION */

nav {
  max-width: 900px;
}
nav > ul {
  list-style-type: none;
}

nav a {
  color: orange;
  text-decoration: none;
}

nav a:hover {
  color: var(--secondary);
  /* text-shadow: 2px 2px 2px rgb(0 0 0); */
}

/* UTILITIES */
.center {
  text-align: center;
}
.secondary {
  color: var(--secondary);
}

.linkhover {
  font-weight: bold;
}
.linkhover:hover {
  color: var(--secondary);
}
/* SOCIAL ICONS */
.social__icons {
  background-color: var(--primary);
  max-width: 800px;
}

.social__icons ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.social__icons a {
  color: orange;
  text-decoration: none;
}

.social__icons a:hover {
  color: var(--secondary);
  /* text-shadow: 2px 2px 2px rgb(0 0 0); */
}

.label {
  display: none;
}

/* FOOTER */
footer {
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  clear: both;
  position: relative;
}

/* SUBSCRIBE */
.subscribe {
  background-color: black;
}
#subscribe h2,
label {
  color: orange;
}

.indicates-required {
  color: var(--secondary);
}

#mc_embed_signup {
  font-weight: 400;
  clear: left;
  max-width: 800px;
  background-color: black;
}

#mc_embed_signup .mc-field-group input {
  font-size: 0.8rem;
  padding: 5px;
  background-color: black;
  color: white;
  border: 0px;
  border-bottom: 2px solid orange;
  border-radius: 0px;
}

#mc_embed_signup .mc-field-group select {
  display: inline-block;
  width: 99%;
  padding: 5px 0;
  margin-bottom: 2px;
  background-color: black;
  color: white;
  border: 0px;
  border-bottom: 2px solid orange;
  border-radius: 0px;
}

#mc_embed_signup .button {
  font-weight: 500;
  background-color: rgba(128, 128, 128, 0.473);
}
#mc_embed_signup .button:hover {
  background-color: orange;
  color: black;
}

#mce-BIRTHDAY-day,
#mce-BIRTHDAY-month {
  width: 60px !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  background-color: red !important;
  color: white !important;
}

/* MUSIC CARDS */
.music__container {
  position: relative;
  background-color: black;
  margin: 1rem;
}

.music__image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.music__middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.music__container:hover .music__image {
  opacity: 0.25;
}

.music__container:hover .music__middle {
  opacity: 1;
}

.music__text {
  color: white;
  padding: 0.5rem 1rem;
}
.music__button {
  border: 4px solid white;
  color: white;
  padding: 0.5rem 1rem;
}

.music__button:hover {
  background-color: white;
  color: black;
}

/* TOUR */
.tour__table {
  font-weight: 500;
  max-width: 900px;
  color: gray;
}
